.App {
  text-align: center;
}

#container {
    padding: 5rem 5rem 0;
    display: flex;
}
div{
  padding: 1rem 1rem 0;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
